<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Salud - Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main class="container">
        <h1>Bienvenido a Nova Salud</h1>
        
        <div class="form-container">
            <h3>Iniciar Sesión</h3>
            <form action="/login" method="POST">
                <input type="email" name="email" placeholder="Correo Electrónico" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Ingresar al Sistema</button>
            </form>
        </div>
    </main>
</body>
</html>