<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Ventas - Nova Salud</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main class="container">
        <h1>Historial de Ventas</h1>

        <div class="header-ventas">
            <a href="/" class="btn-volver">&larr; Volver al Inventario</a>
            <div class="logout-container logout-ventas">
                <a href="/logout" class="btn-logout">Cerrar Sesión</a>
            </div>
        </div>

        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Fecha y Hora</th>
                    <th>Medicamento Vendido</th>
                    <th>Ingreso (S/)</th>
                </tr>
            </thead>
            <tbody>
                <% let totalIngresos = 0; %>
                <% for(let i = 0; i < ventas.length; i++) { %>
                    <% totalIngresos += ventas[i].precioVenta; %>
                    <tr>
                        <td class="fecha-venta"><%= ventas[i].fecha %></td>
                        <td class="venta-nombre"><%= ventas[i].nombreProducto %></td>
                        <td class="venta-precio">S/ <%= ventas[i].precioVenta %></td>
                    </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr class="tabla-footer">
                    <td colspan="2" class="footer-texto">TOTAL INGRESOS:</td>
                    <td class="footer-total">S/ <%= totalIngresos.toFixed(2) %></td>
                </tr>
            </tfoot>
        </table>
    </main>

    <script>
        // Formatear las fechas para que se lean fácilmente (Ej: 10/05/2026, 14:30)
        document.querySelectorAll('.fecha-venta').forEach(celda => {
            const fechaCruda = new Date(celda.innerText);
            celda.innerText = fechaCruda.toLocaleString('es-PE');
        });
    </script>
</body>
</html>